body{
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1.31rem;
}

.icon {
    height: 2.75rem;
}
.gabisaac {
    font-family: 'Rochester', cursive;
    font-size: 4rem;
    color: #FCF5FB;
}
.header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* height: 46rem; */
    background-position-x: center;
    background-position-y: center;
}
/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 6.25rem;
    padding-top: 1.57rem;
}
ul li {
    margin: 0;
    padding: 0;
    display: flex;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 12.5rem;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    margin: auto;
    align-items: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FCF5FB;
}
li a:visited {
    color: #FCF5FB;
}
li a:hover {
    color: #FCF5FB;
    border-bottom: 1.5px solid #FCF5FB;
}

/* header center */
.presentation {
    margin: 10.56rem 0 0 6.25rem;
    color: #FCF5FB;
}
.presentation h1 {
    font-size: 4.5rem;
    /* font-size: 4vw; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin: 0 0 2.56rem 0;
    padding: 0;
}
h5 {
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.footer {
    text-align: center;
    margin-top: 9.06rem;
    padding-bottom: 2rem;
    color: #000000;
}

/* TEXTOS */
.textos {
    background-color: #211B20;
}
.textos .icon {
    display: block;
    margin: 0 auto;
    padding-top: 3.37rem;
}
.textos h3 {
    color: #F0D2C2;
}
h2 {
    padding-top: 3.37rem;
    padding-bottom: 3rem;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #F0D2C2;
}
.text-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 12.8rem;
    padding-bottom: 10rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFEDE3;
}
.text-right {
    width: 439px;
}
.text-left {
    width: 439px;
}

/* FOTOS */
.fotos{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    background-color:#F5F5F5 ;
}
.fotos .icon {
    display: block;
    margin: 0 auto;
    padding-top: 3.37rem;
}
.fotos-grid { /* GRID PRINCIPAL */
    display: grid;
    grid-template-columns: 268px 268px 268px;
    grid-template-rows: 33rem 33rem 33rem;
    grid-auto-flow: row dense;
    grid-gap: 3rem;
    margin: 5rem 10rem;
    justify-content: center;
}
.foto { /* CADA ELEMENTO */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    background-position: center;
    background-size: cover;
    box-shadow: -2px 2px 10px rgba(68, 68, 68, 0.4);
    transition: transform 0.3s ease-in-out;
}
.foto::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}
.foto:hover {
    transform: scale(1.05);
}
.foto:hover::before {
    opacity: 0;
}
.foto:nth-of-type(1) {
    background-image: url(../img/9.jpg);
}
.foto:nth-of-type(2) {
    background-image: url(../img/10.jpg);
}
.foto:nth-of-type(3) {
    background-image: url(../img/13.jpg);
}
.foto:nth-of-type(4) {
    background-image: url(../img/28.jpg);
    grid-row-start: 2;
    grid-column-end: span 3;
}
.foto:nth-of-type(5) {
    background-image: url(../img/7.jpg);
}
.foto:nth-of-type(6) {
    background-image: url(../img/31.jpg);
}
.foto {
    grid-column-end: span 1;
}
.legenda {
    padding: 15px;
    color: #909090;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

/* SEGUNDA FOTO */
.foto2 {
    margin: 0;
    padding: 0;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    background-image: url(../img/foto2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.foto2 h1 {
    margin: 0 5rem;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 9rem;
    color: #FCF5FB;
    text-shadow: 1px 1px 3px rgba(68, 68, 68, 0.4);
}
.foto2 h2 {
    color: #FCF5FB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin-top: 25rem;
}

/* COISINHAS QUE AMO */
.coisinhas .icon {
    display: block;
    margin: 0 auto;
    padding-top: 3.37rem;
}
.coisinhas {
    background-color: #2B1D22;
    color: #db8b99;
}
.qualidades {
    padding: 10rem 0;
    margin: 0 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 22rem));
    grid-template-rows: 27rem 27rem;
    background-color: #2B1D22;
    grid-auto-flow: row dense;
    grid-gap: 3rem;
    justify-content: center;
}
.qualidade {
    border: 1px solid #893746;
    padding-bottom: 1rem;
    /* background-color: #da9e9e79; */
    /* box-shadow:  0px 2px 5px rgb(26, 19, 19); */
}
.qualidade h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: 24px;
    font-weight: 300;
    color: #db8b99;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #db8b99;;
}
.qualidade p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.3rem;
    font-weight: 300;
    color: #db8b99;
    margin: 2rem 2rem;
}


/* DESIGN RESPONSIVO */

@media all and (max-width: 500px) {
    /* NAVIGATION BAR */
    ul li {
        text-align: center;
    }
    nav ul {
        width: 7rem;
    }
    nav {
        margin: 0 2rem;
    }
    li a {
        font-size: 1rem;
    }
    .gabisaac {
        font-size: 2rem;
    }
    .icon {
        height: 1.5rem;
    }

    /* PARTE DO MEIO DO HEADER */
    .presentation {
        margin: 10.56rem 0 0 2rem;
    }
    .presentation h1 {
        font-size: 3rem;
        text-justify: distribute-all-lines;
    }

    /* TEXTOS */
    .text-box {
        margin: 0 1rem;
        font-size: 1.1rem;
    }
    .text-right {
        margin-top: 2rem;
    }

    /* FOTOS */
    .fotos-grid {
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: 300px 200px 200px 300px 250px;
        grid-gap: 1rem;
    }
    .foto:nth-of-type(1) {
        grid-column-start: 1;
    }
    .foto:nth-of-type(2) {
        grid-column-start: 2;
    }
    .foto:nth-of-type(3) {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-end: span 2;
    }
    .foto:nth-of-type(4) {
        grid-row-start: 4;
        grid-column-end: span 2;
    }
    .legenda {
        font-size: 1rem;
    }

    /* FOTO 2 */
    .foto2 h1{
        font-size: 3rem;
        padding: 0 1rem;
        margin: 0;
    }
    .foto2 h2 {
        font-size: 1rem;
        margin-top: 10rem;
    }

    .coisinhas h3 {
        padding: 0 0.5rem;
    }
    .qualidades {
        grid-template-rows: repeat(6, minmax(28,32));
        padding-top: 5rem;
        margin: 0 2rem;
    }
}

@media all and (min-width: 1700px) {
    .presentation {
        margin-top: 16rem;
    }
    .footer {
        margin-top: 17rem;
    }
}