body {
    background-color: #ffffff;
}
.Brazilmap {
    display: block;
    width: 45%;
    padding: 0 auto;
    margin: 0 auto;
}
.Brazilmap path {
    stroke: #2abe68;
    stroke-width: 1.5;
}

/* REGIÕES */
.Brazilmap .norte path {
    fill: #a4ffc2;
}
.Brazilmap .sul path {
    fill: #88fdaf;
}
.Brazilmap .nordeste path {
    fill: #cffcde;
}
.Brazilmap .centro-oeste path {
    fill: #34ff77;
}
.Brazilmap .sudeste path {
    fill: #42dd76;
}

.Brazilmap path:hover {
    fill: #ebffe9;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #462e00;
}


/* INFORMATION STYLES */
.info {
    margin: 5rem 10rem;
    background-color: #dbcaaa;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #462e00;
    border: 1px solid #251800;
    /* box-shadow: 0px 0px 5px #003603; */
}
.info h1 {
    margin: 0;
    padding-top: 2rem;
}
.state {
    padding-top: 5rem;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem 5rem;
}

/* CARDS */
h3 {
    margin: 0;
    padding: 0;
    color: #462e0075;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-left: 3px solid #462e0075;
}
h2 {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-bottom: 2rem;
    color: #462e00;
    font-size: 4rem;
}
.card {
    /* border: 1px solid #1caad9; */
    background-color: #887b64;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px #000000;
}

.visible {
    display: block;
}
.hide {
    display: none;
}